body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

button {
  font-family: "Inter", sans-serif;
}

header {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}

.logoImg {
  /* background-color: red; */
  img {
    width: 200px;
  }
}

.navs {
  display: flex;
  /* background-color: aqua; */
  gap: 25px;
  align-items: center;
  cursor: pointer;

  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
  }
}
.pro {
  color: rgb(219, 78, 179);
}
.inButton {
  background-color: rgb(255, 255, 255);
  color: black;
}
.upButton {
  background-color: #1d4ed8;
  color: white;
}

.hamham {
  width: 30px;
  display: none;
}

@media (max-width: 768px) {
  .navs {
    display: none;
  }

  .hamham {
    display: block;
  }
}

.hero {
  display: flex;
  padding: 30px 150px;
  /* justify-content: space-between; */
  /* background-color: aqua; */
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.heroImage {
  /* background-color: red; */
  padding: 10px;
  img {
    width: 700px;
  }
}

.heroText {
  /* background-color: yellowgreen; */

  h1 {
    font-size: 90px;
    line-height: 0.9;
  }

  p {
    font-size: 24px;
  }
}

.heroButtons {
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
  }
}
.generatorButton {
  background-color: #1d4ed8;
  color: white;
}
.palettesButton {
  background-color: rgb(220, 220, 220);
  color: black;
}

.creative-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(115, 115, 115);
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .heroText {
    text-align: center;
    h1 {
      font-size: 40px;
    }
  }

  .heroImage {
    img {
      width: 400px;
    }
  }
}

/* my work goes here */
.logo-container {
  overflow: hidden;
  width: 100%;
}

.brand-logos {
  display: flex;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
  width: max-content;
  animation: scroll 40s linear infinite;

  img {
    height: 28px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.brand-logos:hover {
  animation-play-state: paused;
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px 30px 50px;
  gap: 120px;
  flex-wrap: nowrap;
}
/* @media (max-width: 1000px) {
  .hero2{
    display: flex;
    text-wrap: balance;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
} */

.hero2Text {
  p {
    font-size: 24px;
    max-width: 750px;
    line-height: 35px;
  }
}
/* @media (max-width: 1000px) {
  .hero2Text {
    display: flex;
    text-align: center;
    justify-content: left;
    p {
      font-size: 20px;
    }
  }
} */

.hero2Box {
  padding: 40px;
  width: 500px;
}
/* @media (max-width:1000) {
  .hero2Box {
  width: 500px;
}
} */

.color-day-title {
  width: 200px;
  margin-left: 40px;
  margin-bottom: -18px;
}

.color-card {
  display: flex;
  align-items: center;
  gap: 32px;
  background: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 40px;
}

.homepage-color-of-the-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.hex-code {
  font-size: 16px;
  font-weight: 400;
}

.color-info {
  flex: 1;
}

.color-info h2 {
  margin: 0 0 10px;
  font-size: 25px;
  font-weight: 700;
}

.color-info p {
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  color: #444;
}

.tools-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(115, 115, 115);
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  /* align-items: center; */
}

.card {
  width: 400px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card h3 {
  font-size: 50px;
  color: inherit;
}

.card-description {
  font-size: 22px;
  color: inherit;
}

.card-link {
  font-size: 15px;
  letter-spacing: 1px;
  color: inherit;
}

.card,
.card * {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.card:hover * {
  color: white;
}

.generator1 {
  background: rgb(207, 250, 254);
  color: #257988;
}

.generator1:hover {
  background: #257988;
}

.generator2 {
  background: #dbeafe;
  color: rgb(59, 30, 246);
}

.generator2:hover {
  background: rgb(59, 30, 246);
}

.generator3 {
  background: #f3e8ff;
  color: #a855f7;
}

.generator3:hover {
  background: #a855f7;
}

.generator4 {
  background: #fce7f3;
  color: #ec4899;
}

.generator4:hover {
  background: #ec4899;
}

.generator5 {
  background: #fee2e2;
  color: #ef4444;
}

.generator5:hover {
  background: #ef4444;
}

.generator6 {
  background: #ffedd5;
  color: #f97316;
}

.generator6:hover {
  background: #f97316;
}

.generator7 {
  background: #fef9c3;
  color: #eab308;
}

.generator7:hover {
  background: #eab308;
}

.generator8 {
  background: #dcfce7;
  color: #22c55e;
}

.generator8:hover {
  background: #22c55e;
}

.generatorBoxes {
  display: grid;
  grid-template-columns: repeat(3, 440px);
  gap: 30px;
  justify-content: center;
}
