body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

button {
  font-family: "Inter", sans-serif;
}

header {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}

.logoImg {
  /* background-color: red; */
  img {
    width: 200px;
  }
}

.navs {
  display: flex;
  /* background-color: aqua; */
  gap: 25px;
  align-items: center;
  cursor: pointer;

  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
  }
}
.pro {
  color: rgb(219, 78, 179);
}
.inButton {
  background-color: rgb(255, 255, 255);
  color: black;
}
.upButton {
  background-color: #1d4ed8;
  color: white;
}

.hamham {
  width: 30px;
  display: none;
}

@media (max-width: 768px) {
  .navs {
    display: none;
  }

  .hamham {
    display: block;
  }
}

.hero {
  display: flex;
  padding: 30px 150px;
  /* justify-content: space-between; */
  /* background-color: aqua; */
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.heroImage {
  /* background-color: red; */
  padding: 10px;
  img {
    width: 700px;
  }
}

.heroText {
  /* background-color: yellowgreen; */

  h1 {
    font-size: 90px;
    line-height: 0.9;
  }

  p {
    font-size: 24px;
  }
}

.heroButtons {
  button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
  }
}
.generatorButton {
  background-color: #1d4ed8;
  color: white;
}
.palettesButton {
  background-color: rgb(220, 220, 220);
  color: black;
}

.creative-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(115, 115, 115);
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .heroText {
    text-align: center;
    h1 {
      font-size: 40px;
    }
  }

  .heroImage {
    img {
      width: 400px;
    }
  }
}

/* my work goes here */
.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  padding: 0;
  flex-wrap: nowrap;

  img {
    height: 28px;
  }
}

.hero2Text {
  p {
    font-size: 24px;
    max-width: 750px;
    line-height: 35px;
  }
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px 30px 50px;
  gap: 120px;
  flex-wrap: wrap;
}

.hero2Box {
  padding: 40px;
  width: 500px;
}

.color-day-title {
  width: 200px;
  margin-left: 40px;
  margin-bottom: -18px;
}

.color-card {
  display: flex;
  align-items: center;
  gap: 32px;
  background: rgb(245, 245, 245);
  border-radius: 20px;
  padding: 40px;
}

.homepage-color-of-the-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-box {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin-bottom: 2px;
}

.hex-code {
  font-size: 16px;
  font-weight: 400;
}

.color-info {
  flex: 1;
}

.color-info h2 {
  margin: 0 0 10px;
  font-size: 25px;
  font-weight: 700;
}

.color-info p {
  margin: 0;
  font-size: 15px;
  line-height: 1.1;
  color: #444;
}

.tools-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: rgb(115, 115, 115);
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  /* align-items: center; */
}

.generator1 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: rgb(207, 250, 254);
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #257988;
  }
}

.schemes-text {
  font-size: 22px;
  color: #257988;
}

.start-the-generator {
  font-size: 15px;
  letter-spacing: 1px;
  color: #257988;
}

.generator2 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #dbeafe;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: rgb(59, 30, 246);
  }
}

.inspired-text {
  font-size: 22px;
  color: rgb(59, 30, 246);
}

.explore-palettes {
  font-size: 15px;
  letter-spacing: 1px;
  color: rgb(59, 30, 246);
}

.generator3 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #f3e8ff;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #a855f7;
  }
}

.extract-text {
  font-size: 22px;
  color: #a855f7;
}

.launch-image-picker {
  font-size: 15px;
  letter-spacing: 1px;
  color: #a855f7;
}

.generator4 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #fce7f3;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #ec4899;
  }
}

.calculate-text {
  font-size: 22px;
  color: #ec4899;
}

.try-contrast-checker {
  font-size: 15px;
  letter-spacing: 1px;
  color: #ec4899;
}

.generator5 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #fee2e2;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #ef4444;
  }
}

.preview-text {
  font-size: 22px;
  color: #ef4444;
}

.open-visualizer {
  font-size: 15px;
  letter-spacing: 1px;
  color: #ef4444;
}

.generator6 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #ffedd5;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #f97316;
  }
}

.information-text {
  font-size: 22px;
  color: #f97316;
}

.launch-picker {
  font-size: 15px;
  letter-spacing: 1px;
  color: #ef4444;
}

.generator7 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #fef9c3;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #eab308;
  }
}

.tailwind-text {
  font-size: 22px;
  color: #eab308;
}

.get-your-tailwind {
  font-size: 15px;
  letter-spacing: 1px;
  color: #eab308;
}

.generator8 {
  border-radius: 20px;
  justify-content: space-evenly;
  background-color: #dcfce7;
  padding: 15px 15px;
  width: 400px;

  h3 {
    font-size: 50px;
    color: #22c55e;
  }
}

.chat-text {
  font-size: 22px;
  color: #22c55e;
}

.chat-with-bot {
  font-size: 15px;
  letter-spacing: 1px;
  color: #22c55e;
}

.generatorBoxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1800px;
}


/* .testbox {
  background-color: red;
  height: 500px;
} */

/* @media (max-width: 1000px) {
  .testbox {
    background-color: yellow;
    font-size: 100px;
  }
} */

/* @media (max-width: 700px) {
  .testbox {
    background-color: hotpink;
    font-size: 400px;
  }
} */
